.main{
	height: 850px;
	width: 50%;
	margin: 0px auto;

}
.header{
	height: 50px;
	width: 100%;
	margin: 0px auto;
	
}

.left{
	height: 775px;
	width: 100%;
	margin: 0px auto;
	float: left;
}
.left_sub{
	height: 200px;
	width: 100%;
	margin: 0px auto;
}

#footer{
	height: 40px;
	width: 60%;
	margin: 0px auto;
	border:1px solid;
	background-color: red;
	color: white;
	text-align: center;
}

.left_sub_price{
height: 200px;
width:80%;
float: left;	
}

.right_sub_price{
	height: 200px;
	width:20%;
	float: right;
	padding:10px;
}
